@font-face {
  font-family: 'Pixel-Noir';
  src: url('public/pixel_noir/Pixel-Noir.ttf') format('truetype');
}

body {
  background-color: $nobel;
}

.nav {
  border-bottom: 1px solid $black;
}

.box {
  align-items: center;
  border: 1px solid $black;
  color: $font-color;
  display: flex;
  height: 200px;
  justify-content: center;
  text-transform: uppercase;
}

.game-title {
  align-items: center;
  text-align: center;
}

.game-name {
  color: $white;
}

#user-log {
  color: $white;
  font-family: 'Pixel-Noir', sans-serif;
  text-align: center;
}

.game-name .row {
  justify-content: center;
  text-align: center;
}

.middleboard {
  border-left: 5px solid $opaque-black;
  border-right: 5px solid $opaque-black;

  &:disabled {
    border-left: 5px solid $opaque-black;
    border-right: 5px solid $opaque-black;
  }
}

.centerboard {
  border-bottom: 5px solid $opaque-black;
  border-top: 5px solid $opaque-black;

  &:disabled {
    border-bottom: 5px solid $opaque-black;
    border-top: 5px solid $opaque-black;
  }
}

#game-board .row .btn {
  // background-color: $nobel;
  font-size: 70px;
}

@media (max-width: 1200px) {
  .box {
    height: 150px;
  }
}

@media (max-width: 576px) {
  .box {
    height: 120px;
  }
}
